ENVIRONMENT=dev

AI_PROVIDER=gemini # gemini - openai - ETC
AI_API_KEY= # coloque sua chave de api aq
AI_MODEL_NAME=gemini-3.5-flash # o modelo escolhido pode mudar de acordo com a google > https://ai.google.dev/gemini-api/docs/changelog?hl=pt-br
IF_API=